<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="img/iconfinder_letter_B_blue_1553100.png" type="image/icon type" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="GradeCalculator">Grade Calculator</a></li>
            </ul>
        </menu>
    </header>

    @RenderBody()

    <footer>

    </footer>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/grade.js"></script>
</body>
</html>