@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Brandon Jacobsen - Stuff";
}


<body>
    <img src="img/enjoyment.jpg" width="300" height="300" />
    <p>I am interested to learn new ways of creating a webpage. I am wanting to create my own personal site as a resume/portfolio site so this will hopefully give me more ways to do that.</p>
    <br />
    <p>Careers I would like to puruse</p>
    <ol class="careers">
        <li>Security Engineer</li>
        <li>Software Developer</li>
        <li>Product Management</li>
    </ol>

</body>
